<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.storyboardApplication</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Definitions</key>
	<dict>
		<key>Podfile</key>
		<dict>
			<key>Path</key>
			<string>Podfile</string>
		</dict>
		<key>Resources/</key>
		<dict>
			<key>Path</key>
			<string>Resources/</string>
		</dict>
		<key>Vendors/</key>
		<dict>
			<key>Path</key>
			<string>Vendors/</string>
		</dict>
		<key>Helpers/</key>
		<dict>
			<key>Path</key>
			<string>Helpers/</string>
		</dict>
		<key>Models/</key>
		<dict>
			<key>Path</key>
			<string>Models/</string>
		</dict>
		<key>Macros/</key>
		<dict>
			<key>Path</key>
			<string>Macros/</string>
		</dict>
		<key>Macros/___VARIABLE_classPrefix:identifier___AppMacro.h</key>
		<dict>
			<key>Path</key>
			<string>AppMacro.h</string>
			<key>Group</key>
			<string>Macros</string>
		</dict>
		<key>Macros/___VARIABLE_classPrefix:identifier___UtilMacro.h</key>
		<dict>
			<key>Path</key>
			<string>UtilMacro.h</string>
			<key>Group</key>
			<string>Macros</string>
		</dict>
		<key>Macros/___VARIABLE_classPrefix:identifier___NotificationMacro.h</key>
		<dict>
			<key>Path</key>
			<string>NotificationMacro.h</string>
			<key>Group</key>
			<string>Macros</string>
		</dict>
		<key>Macros/___VARIABLE_classPrefix:identifier___VendorMacro.h</key>
		<dict>
			<key>Path</key>
			<string>VendorMacro.h</string>
			<key>Group</key>
			<string>Macros</string>
		</dict>
		<key>General/</key>
		<dict>
			<key>Path</key>
			<string>General/</string>
		</dict>
		<key>General/Controllers/___VARIABLE_classPrefix:identifier___ViewController.h</key>
		<dict>
			<key>Path</key>
			<string>ViewController.h</string>
			<key>Group</key>
			<array>
				<string>General</string>
				<string>Controllers</string>
			</array>
		</dict>
		<key>General/Controllers/___VARIABLE_classPrefix:identifier___ViewController.m</key>
		<dict>
			<key>Path</key>
			<string>ViewController.m</string>
			<key>Group</key>
			<array>
				<string>General</string>
				<string>Controllers</string>
			</array>
		</dict>
		<key>General/Scenes/___VARIABLE_classPrefix:identifier___Scene.h</key>
		<dict>
			<key>Path</key>
			<string>Scene.h</string>
			<key>Group</key>
			<array>
				<string>General</string>
				<string>Scenes</string>
			</array>
		</dict>
		<key>General/Scenes/___VARIABLE_classPrefix:identifier___Scene.m</key>
		<dict>
			<key>Path</key>
			<string>Scene.m</string>
			<key>Group</key>
			<array>
				<string>General</string>
				<string>Scenes</string>
			</array>
		</dict>
		<key>___PACKAGENAME___-Info.plist:UIStatusBarHidden</key>
		<string>&lt;key&gt;UIStatusBarHidden&lt;/key&gt;
&lt;true/&gt;
</string>
	</dict>
	<key>Description</key>
	<string>This template provides a starting point for a SpriteKit Game.</string>
	<key>Identifier</key>
	<string>com.apple.dt.unit.CustomSpriteKitGame</string>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Nodes</key>
	<array>
		<string>Podfile</string>
		<string>Resources/</string>
		<string>Vendors/</string>
		<string>Helpers/</string>
		<string>Models/</string>
		<string>Macros/</string>
		<string>Macros/___VARIABLE_classPrefix:identifier___AppMacro.h</string>
		<string>Macros/___VARIABLE_classPrefix:identifier___NotificationMacro.h</string>
		<string>Macros/___VARIABLE_classPrefix:identifier___UtilMacro.h</string>
		<string>Macros/___VARIABLE_classPrefix:identifier___VendorMacro.h</string>
		<string>General/</string>
		<string>General/Controllers/</string>
		<string>General/Scenes/</string>
		<string>General/Views/</string>
		<string>General/Categorys/</string>
		<string>General/Controllers/___VARIABLE_classPrefix:identifier___ViewController.h</string>
		<string>General/Controllers/___VARIABLE_classPrefix:identifier___ViewController.m</string>
		<string>General/Scenes/___VARIABLE_classPrefix:identifier___Scene.h</string>
		<string>General/Scenes/___VARIABLE_classPrefix:identifier___Scene.m</string>
		<string>___PACKAGENAME___-Prefix.pch:Availability:iPhoneAvailability:5</string>
		<string>___PACKAGENAME___-Info.plist:UIStatusBarHidden</string>
	</array>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>universalDeviceFamily</string>
			<key>Units</key>
			<dict>
				<key>iPhone</key>
				<dict>
					<key>Definitions</key>
					<dict>
						<key>Base.lproj/Main.storyboard</key>
						<dict>
							<key>Path</key>
							<string>Main_iPhone.storyboard</string>
						</dict>
					</dict>
				</dict>
				<key>iPad</key>
				<dict>
					<key>Definitions</key>
					<dict>
						<key>Base.lproj/Main.storyboard</key>
						<dict>
							<key>Path</key>
							<string>Main_iPad.storyboard</string>
						</dict>
					</dict>
				</dict>
				<key>Universal</key>
				<dict>
					<key>Definitions</key>
					<dict>
						<key>Base.lproj/Main_iPhone.storyboard</key>
						<dict>
							<key>Path</key>
							<string>Main_iPhone.storyboard</string>
						</dict>
						<key>Base.lproj/Main_iPad.storyboard</key>
						<dict>
							<key>Path</key>
							<string>Main_iPad.storyboard</string>
						</dict>
					</dict>
				</dict>
			</dict>
		</dict>
	</array>
	<key>Targets</key>
	<array>
		<dict>
			<key>SharedSettings</key>
			<dict>
				<key>SPRITEKIT_TEXTURE_ATLAS_OUTPUT</key>
				<string>YES</string>
			</dict>
			<key>Frameworks</key>
			<array>
				<string>SpriteKit</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
